/**************************
#        Survey Form      # 
#   Freecodecamp Project  #
#      ©Diego Rojas       # 
#*************************/

:root {
    /* color styles*/
    --white-color: #fff;
    --secondary-color: #ff8a00;
    /* color styles background*/
    --theme-page-bgcolor: rgb(233, 231, 231);
    --bg-primary: #100e17;
    /* spaces styles */
    --space-auto: auto;
    --space-center: center;
}


/* General styles */

* {
    margin: 0;
    padding: 0;
}


/* Body Styles */

body {
    background-color: var(--theme-page-bgcolor);
}


/* Survey Form Container */

.survey-container {
    background-color: var(--bg-primary);
    width: 70%;
    margin: 0 var(--space-auto);
}


/* survey form styles */

.survey-container #title {
    color: var(--white-color);
    font-family: Tahoma, sans-serif;
    text-align: var(--space-center);
    padding: 1em;
}

.survey-container #description {
    color: var(--white-color);
    font-style: italic;
    font-size: 1.2em;
    text-align: var(--space-center);
}

.survey-container #survey-form {
    margin: 3em 2em;
}


/* form fields styles */

#survey-form {
    color: var(--secondary-color);
    font-size: 1.4em;
}

#survey-form .tabs {
    display: flex;
    margin-bottom: 1em;
}

#survey-form .labels {
    width: 40%;
    text-align: right;
    padding-right: 1em;
}

#survey-form .fields {
    width: 50%;
}

#survey-form .fields input[type="text"],
input[type="number"],
input[type="email"],
select {
    width: 80%;
    height: 2em;
}

#survey-form #skill-level-container label,
#courses-add-container label {
    display: block;
}

#survey-form .mandatory {
    font-size: 0.8em;
}